// File name: footer.pug
// Author's name: Kuan-Wen Liu
// Web site name: Kuan-Wen Liu Portfolio
// file description: Footer include copyright, bootstrap jquery, and javascript 

footer
    hr
    small.text-muted
        |&copy; Kuan-Wen Liu  JavaScript Frameworks 2020 Summer Semester