doctype html
html
  head
    title= title
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    // Use boostrap to create navigation bar
    // 
    nav.navbar.navbar-expand.navbar-dark.bg-dark
        if (!user)
            div.container-fluid
                div.navbar-header
                    a(href='/').navbar-brand Lab 4
                ul.nav.navbar-nav.navbar-right
                    li.nav-item.active
                        a.nav-link(href='/') Home
                    li.nav-item.active
                        a.nav-link(href='/login') Login
                    li.nav-item.active
                        a.nav-link(href='/register') Register
        else
            div.container-fluid
                div.navbar-header
                    a(href='/').navbar-brand Lab 4
                ul.nav.navbar-nav.navbar-right
                    li.nav-item.active
                        a.nav-link(href='/') Home
                    li.nav-item.active
                        a.nav-link(href='/users') Users List
                    li.nav-item.active
                        a.nav-link(href='/login') Logout
    div.container
        block content
